.CardItem {
    border: 1px solid #cfcfcf;
    padding: 10px;
    margin: 0px 20px;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.8);
    max-height: 120px;
    max-width: 150px;
    transition: all .3s ease-out;
}



.cardOption {
    display: flex;
    flex-direction: column;
}

.CardSelected {
    transform: rotateY(360deg);
}

.cardOverlay {
    background-color: #bdbdbd;
    position: absolute;
    width: 135px;
    height: 139px;
    margin-left: 21px;
    opacity: .5;
    z-index: 10;
    transition: all .2s ease-out;
}

.activeOverlay {
    transform: rotateY(360deg);
}